header ul {
    background-color: #333333;
    list-style-type: none;
    padding: 10px;
}

ul li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

.div1 {
    margin-bottom: 10px;
}

p {
    text-align: justify;
    column-count: 4;
    column-rule: 3px solid black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 1px;
}